.navbar {
  background-color: white;
  border-bottom: gray;
}

.logo {
  height: 50px;
  width: 100px;
}

.navbar-links {
  padding: 0;
  margin: 0;
}

.navbar-links-item {
  margin: 0;
  padding: 20px;
  display: inline-block;
}
