.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: yellow;
  color: #fff;
  padding: 20px;
  height: 100%;
}

.sidebar-link {
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}
